body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}



.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: url('/assets/background.jpg') no-repeat center center fixed; 
    background-size: cover;   
    opacity: 2.0;
    
    filter: blur(4px);       
    z-index: -2;             
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(50%); /* Adjust the brightness (100% is original brightness) */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d6a4f;
    padding: 20px 50px;
    color: #ffffff;
}

.logo h1 {
    margin: 0;
    font-size: 24px; /* Adjust the size as needed */
    font-weight: bold;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #40916c;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
    flex-wrap: wrap; /* Allow wrapping if necessary */
    width: 100%; /* Full width to ensure proper alignment */
    box-sizing: border-box;
    margin-top: 50px;
}

h1 {
    color: #2d6a4f;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #52b788;
    border-radius: 10px;
    width: 300px; /* Width of each button */
    height: 300px; /* Height of each button */
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin: 0; 
    text-decoration: none;
}

a.button{
    text-decoration: none;
    color: inherit;
}




.button img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-bottom: 2px solid #52b788;
}

.button-text {
    margin-top: 10px;
    font-size: 22px;
    color: #2d6a4f;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    
   
}

.button:hover {
    background-color: #52b788;
    border-color: #40916c;
}

.button:hover .button-text {
    color: #ffffff;
}


/* =================================================================*/
